In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
array = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
ser1 = pd.Series([1,2,3,4],["Kottayam","Kochi","Pala","Kollam"])

In [15]:
ser1

Kottayam    1
Kochi       2
Pala        3
Kollam      4
dtype: int64

In [17]:
ser2 = pd.Series([5,6,7,8],["Bremen","berlin","hamburg","munich"])

In [18]:
ser2

Bremen     5
berlin     6
hamburg    7
munich     8
dtype: int64

In [20]:
ser1["Kottayam"]

np.int64(1)

In [21]:
ser1+ser2

Bremen     NaN
Kochi      NaN
Kollam     NaN
Kottayam   NaN
Pala       NaN
berlin     NaN
hamburg    NaN
munich     NaN
dtype: float64