In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = {"Company":["GOOG","GOOG","MSFT","MSFT","FB","FB"],
        "Person":["Sam","Charlie","Amy","Vanessa","Carl","Sarah"],
        "Sales":[200,120,340,124,243,350]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350